
.logo{
    width: 120px;
    height: 70px;
    margin: 5px;
}

.texto-header{
    margin: 0 auto;
    background-color: #3A2144;
    width: 70%;    
}

@media(min-width: 720px){
    .logo{
        width: 250px;
        height: 100px;
        margin: 20px;
    }   
}


@media(max-width: 760px){
     .texto-header{
         width: 100%;
         padding-top: 15px;
         padding-bottom: 15px;      
     }
}

@media(max-width: 490px){
    .texto-header{
       font-size: 0.9rem;      
    }
}