<header class="text-center ml-5 mr-5 ">
    
    <div>
        <img class="logo" src="../../../../assets/logo.png"> 
        <P class="acesso">Último acesso: {{data | date: 'medium'}}</P>
    </div>
    
    <div class="menu-sair">
        <a class="btn btn-outline-warning" routerLink="/pagefinal" routerLinkActive="ativado">SAIR</a>
    </div>

    <div class="d-md-flex justify-content-md-around align-items-md-center text-white texto-header">        
        
        <div class="text-md-left text-center">
            <p>Cliente: {{clienteNome}}</p>
            <p>Agência: {{clienteAgencia}}</p>
            <p>Conta corrente: {{clienteConta}}</p>
        </div>
        
        <div>
            <p>Seu saldo atual é de:</p>
            <h5> {{saldoCliente | currency: 'BRL'}}</h5>
        </div>
    </div>
</header>
