.logo{
    width: 100px;
    height: 60px;
    margin: 5px;
}

.texto-header{
    background-color: #3A2144;
}

@media(min-width: 720px){
    .logo{
        width: 250px;
        height: 100px;
        margin: 20px;
    }
}