<app-header
    [clienteNome]= 'cliente.NomeCompleto'
    [clienteAgencia]= 'cliente.Agencia'
    [clienteConta]= 'cliente.ContaCorrente'
    [saldoCliente]= 'extratoSaldo.Saldo'
></app-header>

<table class="container mt-5 table table-hover">
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Categoria</th>
    </tr>
    
    <tr *ngFor='let transacao of extratoSaldo.Extrato'>
        <td>{{transacao.Id}}</td>
        <td>{{transacao.DataHora | date}}</td>
        <td>{{transacao.Descricao}}</td>
        <td>{{transacao.Valor | currency: 'BRL'}}</td>
        <td>{{transacao.Categoria}}</td>
    </tr>

</table>

<app-footer></app-footer>
