<section class="text-center ml-5 mr-5">
    <img class="logo" src="../../assets/logo.png">
    
    <div class="menu-sair">
        <a class="btn btn-outline-warning" routerLink="/pagefinal" routerLinkActive="ativado" (click)='onClick()'>SAIR</a>
    </div>
    
    <div class="menu-voltar">
        <a class="btn btn-outline-warning" routerLink="/home" routerLinkActive="ativado">HOME</a>
    </div>
    
    <div class="text-center mt-5">
        <h5>Transferência efetuada com sucesso!</h5>
       
    </div>

</section>

