<main class="container">
    <img class="logo" src="../../assets/logo-exemplo.jpeg">
    
        <form #form='ngForm' (ngSubmit)="onSubmit(form)" class="pt-5 formulario">
            <div class="p-2 text-left">
                <label>Digite o número de sua agência:</label>
                <input 
                type='number' class="form-control" 
                placeholder="Agência" name='agencia'
                ngModel required number>
                <p class="text-danger" *ngIf="msgError('agencia',form)">Agência inválida</p>
            </div>
    
            <div class="p-2 text-left">
                <label>Digite o número de sua conta corrente:</label>
                <input 
                type='number' class="form-control" 
                placeholder="Conta corrente" name='contacorrente'
                ngModel required number>
                <p class="text-danger" *ngIf="msgError('conta',form)">Conta inválida</p>
            </div>
    
            
    
            <div class="p-2 text-left">
                <label>Digite sua senha:</label>
                <input 
                type='password' class="form-control" 
                placeholder="Digite a senha" name='senha' 
                ngModel required>
                <p class="text-danger" *ngIf="msgError('password',form)">Digite uma senha</p>
            </div>
    
            <div class="p-2">
                <button class="btn btn-costumer btn-block" type="submit">ENVIAR</button>
            </div>
    
        </form>
        

</main>

<app-footer></app-footer>

