footer{
    font-size: 1rem;
   background-color: #3A2144;
   color: #FFFFF2;   
   width: 100%;  
   margin-top: 130px;
   padding-bottom: 5px;
    
}

a{
    text-decoration-color: #FFFFF2;
    text-decoration: none;
}