footer{
    font-size: 1rem;
   background-color: #3A2144;
   color: #FFFFF2;   
   width: 100%;  
   position: absolute;
   bottom: 0;
   left: 0;
    
}

a{
    text-decoration-color: #FFFFF2;
    text-decoration: none;
}