/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: #FFFFF2;
    color: #3A2144;
}