
.home{
    height: 100vh;
}

.menu{

    width: 100%;
    text-align: center;
    padding: 15px 20px 30px;
    border-radius: 10px;
    font-size: 18px;
    
}

.btn-menu{
    width: 65%;
    height: 70px;
    margin: 0 auto;
    margin-top: 40px;
}

a{
    text-decoration: none;
}
