.container-home{    
    margin: 0 auto;
}

.menu-esquerdo{

    width: 100%;
    text-align: center;
    padding: 15px 20px 30px;
    border-radius: 10px;
    font-size: 18px;
    
}

.menu-direito{
    background-color: cornflowerblue;

}